body{
    background-color: #262729;
}

/* navbar */
.nav-item{
    margin:1vw;
}
.navbar-nav{
    padding: 2vw;
}
.navbar-brand{
    margin-left: 3vw;
    font-size: 4rem;
    text-decoration: underline;
}
.nav-link{
    font-size:x-large;
}
.image{
    height: 10%;
    width: 25%;
}

/* card layout */
.card{
    background-color: #262729;
    outline: white;
    outline-style:ridge;
}

.headers{
    color: white;
    font-size: xx-large;
    text-decoration: underline;
    text-align: center;
}

/* modal layout */
.modal-body{
    margin-left: 1vw;
}