body{
    background-color: #262729;
}

.d-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60vw !important;
    height: 40vh !important;
}



/* navbar */
.nav-item{
    margin:1vw;
}
.navbar-nav{
    padding: 2vw;
}
.navbar-brand{
    margin-left: 3vw;
    font-size: 4rem;
    text-decoration: underline;
}
.nav-link{
    font-size:x-large;
}
.image{
    height: 10%;
    width: 25%;
}

/* text */
.homeText{
    padding: 2vw 2vh;
    color: white;
    font-size: large;
}

/* image carousel */
.carousel-item{
    text-align: center;
}